@use "variables" as v;
@import "utils";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// mixins
%center {
  display: grid;
  place-items: center;
}
body {
  font-family: v.$font;
  background-color: #548687;
}

button,
input {
  font-family: inherit;
}
// Main
main {
  min-height: 100vh;
  min-width: 100vw;
  // background: white;
  @extend %center;
  background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
}
.heading {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}
.heading::before {
  content: "X";
  position: absolute;
  left: -2rem;
  color: red;
}
.heading::after {
  content: "o";
  position: absolute;
  right: -2rem;
  color: red;
}
.player_status{
  border: 2px solid black;
  background-color: whitesmoke;
  border-radius: 1rem;
  padding:0.5rem 3rem;
  font-size: 20px;
}
.current_player{
  color: red;
  font-weight: 600;
  font-size: 20px;
  gap: 1px;
}
// grid
.game {
  width: 100%;
  max-width: 20rem;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 3px solid whitesmoke;
  border-radius: 50px;
  background: #e2d2e1;
  box-shadow: 10px 10px 50px #bebebe, -20px -20px 60px #ffffff;
  padding:30px;

}
.box {
  width: 100%;
  aspect-ratio: 1/1;
  font-size: 2rem;
  @extend %center;
  cursor: pointer;
  border: 2px solid whitesmoke;
  border-radius: 10px;

}
.box:nth-child(2n) {
  border: 1px solid whitesmoke;
}
.reset-button {
  padding: 0.5rem 3rem;
  border-radius: 1rem;
  border: 2px solid whitesmoke;
  cursor: pointer;
  visibility: hidden;

  // &:hover{
  //   background-color: #e2d2e1;
    
  }


